.container{
  margin: 1rem 0px;
  padding: 1rem;
  background-color: rgb(69, 110, 131);
}

.container h2{
  color: #1a1c20;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.container h2 a{
  text-decoration: none;
  color: #2b2e35;
}

#dataTable_wrapper{
  width: 107%;
}

.row{
  margin-bottom: 10px;
  
}

.col-sm-12{
  overflow-x: auto;
  margin-bottom: 5px;
}

.table{
  font-size: 14px;
}